
    .highlight_IC_Speaks {
        background-color: coral;
        opacity: .5;
        font-size: larger;
        font-weight: 400;
    }


    div li {
        list-style:none;
        text-decoration: none;
        background-color: cyan;
        border: 1px darkgoldenrod solid;
        color: black;
        display: block;
        width: 200px;
        text-align: center;
        margin: 10px;
        padding: 10px;
        
    }

    style {
        font-family: Arial, Helvetica, sans-serif;
        background: url("paylocity_background.jpg") repeat;
    
    } 

