

/*@media (min-width: 768px) and (max-width: 992px) - this is for mobile, etc*/
/* RESPONSIVE Framework
.row {
    width: 100%;
}

.col-lg-1
.col-md-2

Zoom level for cell phone
<meta name="viewport"  content="width=device-width, intial scale=1>

*/


    .pcty-button {
        background-color: #FF6611;
        border: 1px solid #FF6611;
        border-radius: 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        line-height: 30px;
        outline: none;
        padding: 16 px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        overflow: visible;
        vertical-align: top;
        zoom: 1;
        position: relative;
    }

    .menu {
        z-index: 9001;
        position: relative;
        box-sizing: border-box;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        background: #EAEAEA;
        color: #222222;
        cursor: default;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1;
        margin: 0;
        padding: 0;
    }


    .highlight_IC_Speaks {
        background-color: coral;
        opacity: .5;
        font-size: larger;
        font-weight: 400;
    }

/*
    div li {
        list-style:none;
        text-decoration: none;
        background-color: cyan;
        border: 1px darkgoldenrod solid;
        color: black;
        display: block;
        width: 200px;
        text-align: center;
        margin: 10px;
        padding: 10px;
        
    }

  */
  
    html {
        font-family: Arial, Helvetica, sans-serif;


        }
